.link-container {
  cursor: pointer;
  display: flex;
  border: 1px solid var(--background-basic-color-1);
}
.link-container:hover {
  background-color: var(--background-basic-color-2);
}
.select-icon {
  color: var(--color-primary-400);
}
.link-text {
  margin-left: 0.5rem;
  font-size: 1rem;
}