<section id="team-section" class="page">
  <div class="page-header-wrapper">
    <div class="container">
      <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
        <h2>El Parlamento</h2>
        <div class="devider"></div>
        <p class="subtitle">Equipo directivo</p>
      </div>
    </div>
  </div>
  <div class="container grid-container">
    <div class="row row-items-container">
      <div class="col-md-3 row-items">
        <div class="team-container wow bounceIn" data-wow-delay="0.6s">
          <div class="team-item">
            <div class="team-triangle">
              <div class="content">
                <img src="../../../assets/img/usml/members/Kicillof.jpg" alt="title" />
                <div class="team-hover text-center item-text-container">
                  <p>Kicillof</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 row-items">
        <div class="team-container wow bounceIn" data-wow-delay="0.7s">
          <div class="team-item">
            <div class="team-triangle">
              <div class="content">
                <img src="../../../assets/img/usml/members/20200416014704_1.jpg" alt="title" />
                <div class="team-hover text-center item-text-container">
                  <p>Ghost</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 row-items">
        <div class="team-container wow bounceIn" data-wow-delay="0.8s">
          <div class="team-item">
            <div class="team-triangle">
              <div class="content">
                <img src="../../../assets/img/usml/members/Ponce.jpg" alt="title" />
                <div class="team-hover text-center item-text-container">
                  <p>Ponce</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row row-items-container row-items-container-bottom">
      <div class="col-md-3 row-items">
        <div class="team-container wow bounceIn" data-wow-delay="0.5s">
          <div class="team-item">
            <div class="team-triangle">
              <div class="content">
                <img src="../../../assets/img/usml/members/Deknop.png" alt="title" />
                <div class="team-hover text-center item-text-container">
                  <p>Deknop</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 row-items">
        <div class="team-container wow bounceIn" data-wow-delay="0.6s">
          <div class="team-item">
            <div class="team-triangle">
              <div class="content">
                <img src="../../../assets/img/usml/members/Kombuchaman.jpg" alt="title" />
                <div class="team-hover text-center item-text-container">
                  <p>Kombuchaman</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 row-items">
        <div class="team-container wow bounceIn" data-wow-delay="0.7s">
          <div class="team-item">
            <div class="team-triangle">
              <div class="content">
                <img src="../../../assets/img/usml/members/Userkaft.jpg" alt="title" />
                <div class="team-hover text-center item-text-container">
                  <p>Userkaft</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
