<!-- Begin counter up -->
<section id="counter-section">
  <div
    id="counter-up-trigger"
    class="counter-up text-white parallax"
    data-stellar-background-ratio="0.5"
  >
    <div class="cover"></div>
    <div class="page-header-wrapper">
      <div class="container">
        <div
          class="page-header text-center wow fadeInDown "
          data-wow-delay="0.4s"
        >
          <h2 class="title-fix">USML en números</h2>
          <!-- <div class="devider"></div>
          <p class="subtitle title-fix">Before anyone is not told</p> -->
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="fact text-center col-md-3 col-sm-6">
          <div class="fact-inner">
            <i class="fa fa-users fa-3x"></i>
            <div class="extra-space-l"></div>
            <span class="counter">24</span>
            <p class="lead">Miembros totales</p>
          </div>
        </div>

        <div class="fact text-center col-md-3 col-sm-6">
          <div class="fact-inner">
            <i class="fa fa-bolt fa-3x"></i>
            <div class="extra-space-l"></div>
            <span class="counter">11</span>
            <p class="lead">Miembros Activos</p>
          </div>
        </div>

        <div class="fact text-center col-md-3 col-sm-6">
          <div class="fact-inner">
            <i class="fa fa-trophy fa-3x"></i>
            <div class="extra-space-l"></div>
            <span class="counter">5</span>
            <p class="lead">Misiones Ganadas</p>
          </div>
        </div>

        <div class="fact last text-center col-md-3 col-sm-6">
          <div class="fact-inner">
            <i class="fa fa-times fa-3x"></i>
            <div class="extra-space-l"></div>
            <span class="counter">3</span>
            <p class="lead">Misiones fallidas</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End counter up -->