<header id="header" class="header-main">
  <nav
    id="main-navbar"
    class="navbar navbar-default navbar-fixed-top navbar-fix"
    role="navigation"
  >
    <div class="container">
      <div class="navbar-header navbar-container">
        <div class="navbar-header navbar-item-container">
          <a class="page-scroll" href="index.html"
            ><img
              class="usml-logo"
              src="../../../assets/img/usml/usmlcascoblancochico.png"
          /></a>
        </div>
        <div class="navbar-link navbar-item-container">
          <a href="#about-section" class="link-item">Nosotros</a>
          <a href="#contact-section" class="link-item">Enlistarse</a>
          <a href="/test/auth/login" class="link-item">Centcom</a>
        </div>
      </div>
      <div class="navbar-burger">
        <nb-icon icon="menu-outline" (click)="onClick()" />
      </div>
      <div class="sidebar" [ngStyle]="{ right: toggleMenu ? '-100%' : '0%' }">
        <div class="sidebar-burger">
          <nb-icon icon="close-outline" (click)="onClick()" />
        </div>
        <div class="sidebar-items">
          <a href="#about-section">Nosotros</a>
          <a href="#contact-section">Enlistarse</a>
          <a href="/test/auth/login">Centcom</a>
        </div>
      </div>
    </div>
  </nav>
</header>
