<header id="header" class="header-main">
    <nav
      id="main-navbar"
      class="navbar navbar-default navbar-fixed-top navbar-fix"
      role="navigation"
    >
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-header">
            <a class="page-scroll" href="index.html"
              ><img
                class="usml-logo"
                src="../../../assets/img/usmlcascoblancochico.png"
            /></a>
          </div>
        </div>
      </div>
    </nav>
  </header>
<!-- <header id="header" class="header-main">
  <nav
    id="main-navbar"
    class="navbar navbar-default navbar-fixed-top navbar-fix"
    role="navigation"
  >
    

    <div class="container">
      <div class="navbar-header">
        <div class="navbar-header">
          <a class="page-scroll" href="index.html"
            ><img
              class="usml-logo"
              src="../../../assets/img/usmlcascoblancochico.png"
          /></a>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="page-scroll" href="body">Home</a></li>
          <li><a class="page-scroll" href="#about-section">About</a></li>
          <li>
            <a class="page-scroll" href="#services-section">Services</a>
          </li>
          <li>
            <a class="page-scroll" href="#portfolio-section">Works</a>
          </li>
          <li><a class="page-scroll" href="#team-section">Team</a></li>
          <li>
            <a class="page-scroll" href="#prices-section">Prices</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact-section">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> -->
