.container-center {
  display: flex;
  justify-content: space-between;
}
.branches-logo {
  height: 350px;
  width: 350px;
}
.branch-container {
  width: 350px;
}
.branch-text {
  margin: 0 !important;
}
.force-a {
  margin-top: 0 !important;
}
.force-title {
  margin: 0 !important;
}