.container-center {
  display: flex;
  justify-content: space-between;
}
.branches-logo {
  height: 350px;
  width: 350px;
}
.branch-container {
  width: 350px;
}
.branch-text {
  margin: 0 !important;
}
.force-a {
  margin-top: 0 !important;
}
.force-title {
  margin: 0 !important;
}

@media (max-width: 1024px) {
  .container-center{
    justify-content: center;
  }
  .branches-logo{
    height: 250px;
    width: 250px;
  }
}
@media (max-width: 768px) {
  .branches-logo {
    height: 350px;
    width: 350px;
  }
  .row-container{
    justify-content: center;
  }
  .container-center {
    flex-direction: column;
  }
  .branch-container{
    padding: 0;
  }
}