.nb-layout-column-custom-style {
  padding: 0 !important;
  height: 20%;
}

#nb-layout-header-custom-style{
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}
::ng-deep nb-layout-header nav{
  padding: 0 !important;
}
.app-navbar-styles {
  width: 100%;
}
