#testimonial-section {
  color: white;  
}
.testimonial {
  background-image: url(../../../assets/img/Polaris.png);
}
.testimonial-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-container-style {
  width: 60%;
}