<section id="testimonial-section">
  <div
    id="testimonial-trigger"
    class="testimonial text-white parallax"
    data-stellar-background-ratio="0"
  >
    <div class="cover"></div>
    <!-- <div class="page-header-wrapper">
      <div class="container">
        <div
          class="page-header text-center wow fadeInDown "
          data-wow-delay="0.4s"
        >
          <h2>Reviews</h2>
          <div class="devider"></div>
          <p class="subtitle">What people say about us</p>
        </div>
      </div>
    </div> -->
    <div class="container">
      <div class="testimonial-inner center-block text-center testimonial-style">
        <div class="item item-container-style">
          <img src="../../../assets/img/usml/USMLopsRedo.png" class="usmlops-img" />
            <!-- <p>
              "This was my first experience with that team and outperformed my
              expectation! They know there stuff and I highly recommend them!
              A+++".
            </p>
            <footer>
              <cite title="Source Title">Daryl Hodgeman</cite>
            </footer> -->
        </div>
      </div>
    </div>
  </div>
</section>
