#testimonial-section {
  color: white;  
}
.testimonial {
  background-image: url(../../../assets/img/usml/PolarisWeb.png);
}
.testimonial-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-container-style {
  // width: 60%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.usmlops-img{
  width: 25%;
  height: 25%;
}