<!-- Begin cta -->
<section id="cta-section">
  <div class="cta">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h1>Enlistate ahora!</h1>
          <p>
            Vive la emoción de la simulación de combate en ArmA 3! Sumérgete en
            un entorno realista de combate virtual, donde la autenticidad y la
            coordinación táctica son clave.
          </p>
        </div>

        <div class="col-md-3 button-container">
          <div
            class="cta-btn wow bounceInRight button-wrapper"
            data-wow-delay="0.4s"
          >
            <button class="btn btn-default btn-lg cta-button" role="button">
              Enlistarse
            </button>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
</section>
<!-- End cta -->
