<section
  id="text-carousel-intro-section"
  class="parallax"
  data-stellar-background-ratio="0.5"
>
<div class="cover"></div>
  <div class="container" >
    <div class="caption text-center text-white" data-stellar-ratio="0.7">
      <div class="item" > 
        <h1>Unidad de simulación militar latina</h1>
        <!-- <p>Let's roll together</p> -->
        <div class="extra-space-l"></div>
      </div>
      <video autoplay [muted]="true" loop>
        <source
          src="../../../assets/video/introvideo.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>
</section>
