#contact-section {
  background-image: url(../../../assets/img/usml/nighttraining.jpg);
}
#contact-section .cover {
  background-color: rgba(0, 0, 0, 0.4);
}
#contact-section .page-header {
  margin-top: 1.4rem;
}