<!-- Begin contact section -->
<section id="contact-section" class="page text-white parallax">
  <div class="cover"></div>

  <div class="page-header-wrapper">
    <div class="container">
      <div
        class="page-header text-center wow fadeInDown title-fix"
        data-wow-delay="0.4s"
      >
        <h2>Enlistate ahora mismo!</h2>
        <div class="devider"></div>
        <p class="subtitle">No te pierdas la acción</p>
      </div>
    </div>
  </div>

  <div class="contact wow bounceInRight" data-wow-delay="0.4s">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="contact-info">
            <h4>Enlistate desde Discord</h4>
            <div class="icon-container">
              <a
                href="https://discord.gg/xqs4xncn5H"
                target="_blank"
                class=""
                data-wow-delay="0.7s"
                ><span class="rotate-box-icon"
                  ><i class="fa fa-discord discord-icon"></i></span
              ></a>
            </div>
          </div>
        </div>

        <div class="col-sm-5">
          <div class="contact-form">
            <h4>O enlistate desde la web!</h4>
            <form
              role="form"
              class="enlist-form"
              [formGroup]="enlistForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="form-group">
                <input
                  type="text"
                  class="form-control input-lg input-form"
                  placeholder="Tu Nombre y apellido*"
                  formControlName="name"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control input-lg input-form"
                  placeholder="Nickname para Arma3*"
                  formControlName="nickname"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control input-lg input-form"
                  placeholder="URL a tu perfil o codigo de amigo de Steam*"
                  formControlName="steam"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control input-lg input-form"
                  placeholder="Usuario de discord (Opcional, nos permite contactarte)"
                  formControlName="discord"
                />
              </div>
              <div class="form-group">
                <textarea
                  class="form-control input-lg input-form"
                  rows="5"
                  placeholder="¿Fuiste miembro de alguna comunidad de ArmA III?"
                  formControlName="pastHistory"
                  required
                ></textarea>
              </div>
              <button
                type="submit"
                class="btn wow bounceInRight enlist-form-button"
                data-wow-delay="0.8s"
                [disabled]="!enlistForm.valid"
              >
                Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End contact section -->
