#contact-section {
  background-image: url(../../../assets/img/usml/nighttraining.jpg);
}
#contact-section .cover {
  background-color: rgba(0, 0, 0, 0.4);
}
#contact-section .page-header {
  margin-top: 1.4rem;
}
.icon-container {
  width: 50%;
  display: grid;
}
.icon-container a {
  justify-self: center;
  margin-top: 2rem;
}
.discord-icon {
  color: whitesmoke;
  transform: scale(1.5);
}
.input-form {
  color: whitesmoke !important;
}
.enlist-form-button {
  color: whitesmoke;
}
.title-fix {
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .icon-container {
    margin-bottom: 2rem;
    width: 100%;
  }
}