<section id="portfolio-section" class="page bg-style1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="portfolio">
          <div class="page-header-wrapper">
            <div class="container">
              <div
                class="page-header text-center wow fadeInDown"
                data-wow-delay="0.4s"
              >
                <h2>Misiones</h2>
                <div class="devider"></div>
                <p class="subtitle">Capturas de nuestros miembros</p>
              </div>
            </div>
          </div>
          <div class="portfoloi_content_area">
            <div class="portfolio_content">
              <div class="row" id="portfolio">
                <div class="col-xs-12 col-sm-4">
                  <app-media-card
                    [imgName]="'Kivu 1 square.jpg'"
                    [title]="'USMLOPS Kivu'"
                    [spanText]="'N' + '`' + 'Ziwasogo'"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <app-media-card
                    [imgName]="'Kivu 2 square.jpg'"
                    [title]="'USMLOPS Kivu'"
                    [spanText]="'N' + '`' + 'Ziwasogo'"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <app-media-card
                    [imgName]="'Escudo de Paz 1 square.jpg'"
                    [title]="'Operacion Escudo de Paz'"
                    [spanText]="'Misión no oficial'"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <app-media-card
                    [imgName]="'Escudo de Paz 2 square.jpg'"
                    [title]="'Operacion Escudo de Paz'"
                    [spanText]="'Misión no oficial'"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <app-media-card
                    [imgName]="'Napf 1 square.png'"
                    [title]="'USMLOPS'"
                    [spanText]="'Napf'"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <app-media-card
                    [imgName]="'Napf 2 square.jpg'"
                    [title]="'USMLOPS'"
                    [spanText]="'Napf'"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <app-media-card
                    [imgName]="'Napf 4 square.jpg'"
                    [title]="'USMLOPS'"
                    [spanText]="'Napf'"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <app-media-card
                    [imgName]="'Rosario 1 square.jpg'"
                    [title]="'Operación Rosario'"
                    [spanText]="'Misión no oficial'"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <app-media-card
                    [imgName]="'Rosario 2 square.jpg'"
                    [title]="'Operación Rosario'"
                    [spanText]="'Misión no oficial'"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
