@use "themes" as *;

@use "@nebular/theme/styles/globals" as *;

@include nb-install() {
  @include nb-theme-global();
}
/* You can add global styles to this file, and also import other style files */
@import "./assets/css/style.css";
@import "./assets/css/reset.css";
@import "./assets/css/mobile.css";
@import "./assets/css/skin/cool-gray.css";

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}


/* MEMBERS COMPONENT STYLES */
// Start Members TabsetComponent
#team-section .tabset {
  border-bottom: 0;
}
#team-section .tab .tab-link {
  color: whitesmoke;
}
#team-section .tab.active .tab-link {
  color: #4da338;
}
#team-section .tab.active .tab-link::before {
  background-color: #4da338;
}
#team-section .tab:hover .tab-link::before {
  background-color: #4da338;
}
// End Members TabsetComponent


/* Members */

// Members Accordion
#team-section nb-accordion-item-header nb-icon {
  position: static;
  display: flex;
  justify-content: center;
  margin-left: 2rem;
}


/* Centcom */

#centcom-container nb-sidebar.compacted  .link-text {
  display: none;
}